<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(245, 88, 40);"><b> MEMMORIES </b></a>
    <span class="quote text-light" >For You</span>
  </nav>
  
  <h1 style="color: white; text-align:center">Event History</h1>
  <br>

  <table style="color: white;">
      <thead>
          <tr>
              <th>Event Date</th>&nbsp;
              <th>Event Description</th>
          </tr>
      </thead>
      <tbody>
        <tr>
            <th>22/2/21</th>&nbsp;
            <th>wedding</th>
        </tr>
        <tr>
            <th>12/12/1999</th>&nbsp;
            <th>Birthday</th>
        </tr>
       
      </tbody>
  </table>
  <br>
  <a routerLink="/Dashboard" style="font-size: 20px; margin-left: 470px;margin-right: auto;">Home</a>