
 
<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; MEMMORIES </b></a>
    <span class="quote text-light">For YoU...</span>
   
  </nav>
  
  
  <div class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 class="text-center">Sign up</h3>
                  
              </div>
              <div class="card-body">
                  <form onsubmit="event.preventDefault();bank.authenticate()">

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="date" [(ngModel)]='date' placeholder="Event Date" id="enter_Date" required>
                        
                    </div>

                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                           <input type="text" class="form-control" name="description" [(ngModel)]='description' placeholder="Event Description" id="entered_description" required>
                      </div>
                      <br>
                      <div class="form-group">
                          <input type="submit" value="VIEW EVENT" (click)="viewevent()"  class="btn float-right login_btn " style="width:40%" >
                          
                          <input type="submit" value="ADD EVENT" (click)="addevent()"  class="btn float-left login_btn " style="width:40%" >
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>